{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie</h1>
   <a href="{{ path('app_admin_categorie_index') }}" class="btn btn-dark mb-3">Retour</a>
    {{ include('admin_categorie/_form.html.twig') }}

 
{% endblock %}
